.grid-container {
  margin: 5% auto;
}

.grid {
  white-space: pre;
}

button {
  margin: 5px;
  /* margin-right: 25px; */
  position: center;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: 25px;
  padding: 5px 10px;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  background-color: rgb(134, 251, 255);
  outline: 0 !important;
  margin-left: 120px;

}

.navbar {
  padding: 5px;
  z-index: 100;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);

  text-align: center;
}

/* 
@media (max-width: 480px) {
  .buttons button {

    margin-right: 5px;
    padding: 2px 5px;
    margin: 5px 5px;

  }
} */